@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    scrollbar-width: thin;
}

html, body {
    overflow-x: hidden;
}

body {
    font-family: 'Poppins', sans-serif;
    color: #2D2E32;
    margin: 0;
    padding: 0;
}

.hero {
    display: grid;
    width: 50%;
    margin: 0 auto;
    grid-template-columns: 3fr 1fr;
    padding: 25vh;

    h1 {
        font-size: 60px;
        font-weight: bold;
        margin-bottom: -20px;
    }

    p {
        font-size: 18px;
        font-weight: 400;
        color: #767676;
        position: relative;
    }

    .profile {
        height: 400px;
        width: 400px;
        border-radius: 50%;
        margin: 0 auto;
        display: block;
        position: relative;
    }

    .wave {
        height: 70px;
        width: 70px;
    }

    .decor1 {
        position: absolute;
        right: -50px;
        bottom: 350px;
        height: auto;
        width: auto;
        z-index: 0;

        @media (max-width: 1024px) {
            display: none;
        }
    }

    .logos {
        li {
            list-style-type: none;
            display: inline-block;
            padding: 13px;
            margin-left: -10px;
            transition: 0.2s ease-in-out;
            position: relative;

            &:hover {
                transform: translateY(-10px);
            }
        }
    }

    .skills {
        height: 50px;
        width: 110px;
    }

    &-svg {
        svg {
            width: 50px;
            height: 50px;
            margin: 0 auto;
            color: #2D2E32;            

            &:hover {
                color: lightskyblue;
                transition: 0.1s ease-in-out;
            }
        }
    }

    @media (max-width: 1200px) {
        width: 80%;
    }

    @media (max-width: 1024px) {
        grid-template-columns: 1fr;
        padding: 10vh;

        .profile {
            height: 300px;
            width: 300px;
            order: 1;
        }

        .hero-text {
            order: 2;

            h1 {
                text-align: center;
                font-size: 50px;
                order: 2;
            }

            p {
                font-size: 20px;
                text-align: center;
            }
        }

        .icons {
            order: 3;
        }

        .wave {
            height: 50px;
            width: 50px;
        }

        .logos {
            display: flex;
            justify-content: center;
            order: 5;
        }
    }

    @media (max-width: 768px) {
        grid-template-columns: 1fr;
        padding: 10vh;

        .profile {
            height: 300px;
            width: 300px;
            order: 1;
        }

        .hero-text {
            order: 2;

            h1 {
                text-align: center;
                font-size: 50px;
                order: 2;
            }

            p {
                font-size: 20px;
                text-align: center;
            }
        }

        .hero-svg {
            order: 3;
        }

        .wave {
            height: 50px;
            width: 50px;
        }

        .logos {
            display: flex;
            justify-content: center;
            order: 5;

            li {
                margin: 0 5px;
            }
        }
    }

    @media (max-width: 500px) {
        display: flex;
        flex-direction: column;
        padding: 5vh;
        padding-top: 13vh;

        .profile {
            height: 200px;
            width: 200px;
            order: 1;
        }

        .hero-text {
            order: 2;

            h1 {
                font-size: 35px;
            }

            p {
                font-size: 18px;
            }
        }

        .wave {
            height: 40px;
            width: 40px;
        }

        .logos {
            li {
                margin: 0 5px;
            }
        }

        .hero-svg {
            display: flex;
            justify-content: center;
        }

        .logos {
            order: 5;
            display: block;
            text-align: center;
        }
    }
}
