@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap");

body{
    font-family: 'Poppins', sans-serif;
    color: #2D2E32
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    background-color: #FFFFFF;
    height: 5vh;
    box-shadow: 0 5px 5px -2px rgba(0, 0, 0, 0.1);
}

.logo{
    font-size: 25px;
    font-weight: bold;
    cursor: pointer;
}

.navbar-nav{
    display: flex;
    font-size: 17px;
    font-weight: bold;
    gap: 50px;
    list-style: none;
}

.nav-item:hover{
    color: lightskyblue;
    cursor: pointer;
    transition: 0.1s ease-in;
}

@media (min-width: 768px) {
    .menu-toggle{
        display: none;
    }

    .navbar-nav{
        gap: 50px;
    }
}

@media (max-width: 768px) {

    .menu-toggle{
        position: absolute;
        top: 0;
        right: 0;
        cursor: pointer;
    }
    
    .menu-toggle i{
        font-size: 30px;
        color: #2D2E32;
        cursor: pointer;
        position: relative;
        top: 30px;
        right: 30px;
    }

    .menu-toggle {
        display: flex;
    }

    .navbar-nav {
        position: fixed;
        flex-direction: column;
        top: 50px;
        left: -120%;
        height: 100vh;
        background-color: #ffffff;
        width: 100%;
        transition: left 0.3s ease;
        justify-content: center;
    }

    .navbar.open .navbar-nav {
        left: 0;
    }
  
    .navbar-nav.open {
        display: flex;
    }

    .navbar.open .logo{
        display: none;
    }

    .navbar.open li{
        font-size: 30px;
    }
  }