@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap");

body{
    font-family: 'Poppins', sans-serif;
    color: #2D2E32;
}

html{scroll-behavior:smooth}


nav{
    display: flex;
    justify-content: space-between;
    position: fixed;
    z-index: 9999;
    width: 100%;
    align-items: center;
    padding: 1rem 2rem;
    background-color: #FFFFFF;
    height: 5vh;
    box-shadow: 0 5px 5px -2px rgba(0, 0, 0, 0.1);

    .logo{
        font-size: 25px;
        font-weight: bold;
        cursor: pointer;
    }

    .navbar-nav{
        display: flex;
        gap: 30px;
        list-style: none;
        margin-right: 3rem;
        align-items: center;

        .nav-item{
            font-size: 18px;
            font-weight: 500;
        }
    }

    a{
        text-decoration: none;
        color: #2D2E32;
    }
    
    .nav-item a:hover{
        color: lightskyblue;
        cursor: pointer;
        transition: 0.1s ease-in;
    }
}


@media (min-width: 768px) {
    .menu-toggle{
        display: none;
    }

    .navbar-nav{
        gap: 50px;
    }
}

@media (max-width: 768px) {

    nav{
        
        .menu-toggle {
            display: block;
            font-size: 25px;
            cursor: pointer;
            position: fixed;
            z-index: 9999;
            top: 20px;
            right: 30px;
        }

        .navbar-nav{
            height: 200vh;
            flex-direction: column;
            position: fixed;
            right: 0;
            width: 100%;
            background-color: #FFFFFF;
            box-shadow: 0 5px 5px -2px rgba(0, 0, 0, 0.1);
            left: -120%;
            transition: left 0.3s ease;
            &.open{
                top: -2vh;
                overflow: hidden;
                align-items: center;
                display: flex;
                justify-content: center;
                left: -10%;
                height: 100vh;
            }
        }

        .navbar-nav.active{
            display: flex;
        }

        a{
            text-decoration: none;
            color: #2D2E32;
            font-size: 25px;
        }

        .nav-item a:hover{
            color: lightskyblue;
            cursor: pointer;
            transition: 0.1s ease-in;
        }
    }
}